<div class="container1">
    <h1 class="header1">Log In</h1>
    <form class="login-form1" action="/users/createsession" method="POST">
      <input class="input-email1" type="email" name="email" placeholder="Enter Email" required>
      <input class="input-password1" type="password" name="password" placeholder="Enter Password" required>
      <input class="button-submit1" type="submit" value="Log In">
    </form>
    <div class="info-section1">
      <p>Use the following credentials for admin access:</p>
      <p>Email: <strong>daggarwal4_be21@thapar.edu</strong></p>
      <p>Password: <strong>1234</strong></p>
      <p>to get admin rights to add carpenters</p>
    </div>
  </div>