<div class="container1">
    <h1 class="header1">Sign In</h1>
    <form class="signup-form1" action="/users/create" method="POST">
      <input class="input-text1" type="text" name="name" placeholder="Enter name" required>
      <input class="input-email1" type="email" name="email" placeholder="Enter username" required>
      <input class="input-password1" type="password" name="password" placeholder="Enter password" required>
      <input class="input-confirm-password1" type="password" name="confirm_password" placeholder="Confirm Password" required>
      <input class="button-submit1" type="submit" value="Sign Up">
    </form>
  </div>